name: Build & test
on:
  push:
    branches: [main]
  pull_request:
  release:
    types: [published]
jobs:
  build:
    name: Build the gem
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: ['2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Set up CMake
        uses: lukka/get-cmake@latest
      - name: Build the gem
        run: gem build compact_enc_det.gemspec
  test:
    name: Run tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: ['2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Set up CMake
        uses: lukka/get-cmake@latest
      - name: Run tests
        run: bundle exec rake test
